{% extends 'base.html' %}

{% load static %}

{% block 'title' %}team_members{% endblock 'title' %}

{% block 'content' %}





    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Team</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="row">
            {% for memb in team_members %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <div class="member-img">
                  <img src={{memb.image.url}} class="img-fluid" alt="">
                  <div class="social">
                    <a href={{memb.twitter}}><i class="bi bi-twitter"></i></a>
                    <a href={{memb.facebook}}><i class="bi bi-facebook"></i></a>
                    <a href={{memb.instagram}}><i class="bi bi-instagram"></i></a>
                    <a href={{memb.linkdin}}><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>{{memb.info.username}}</h4>
                  <span>{{memb.description}}</span>
                </div>
              </div>
            </div>
            {% endfor %}
  
          </div>
  
        </div>
      </section><!-- End Team Section -->












{% endblock 'content' %}